<div class="persons-group">
<h4>Students</h4>
<% for(var index in students) { %>

<img class="profile_image" src=<%= students[index].image_url %> ></img>

<% }  %>
</div>
<div class="persons-group">
<h4>Professors</h4>
<% for(var index in professors) { %>

<img class="profile_image" src=<%= professors[index].image_url %> ></img>

<% }  %>

</div>
